@using PhoneBook.Web.Models

@model TelephoneBookModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Описание";
}

@if(Model is null)
{
    <p>Контакт не найден</p>
}
else
{
    <div class="section-name">
        <h1 class="names-h1">@Model.LastName @Model.FirstName @Model.SurName</h1>
        <a asp-area="" asp-action="Redact" asp-controller="Home" asp- class="btn">Редактировать</a>
    </div>
    <div class="section-about">
        <h3>Адрес</h3>
        @Model.Address
        <hr class="line">
        <h3>Номер телефона</h3>
        @Model.NumberPhone
    </div>
}