@using PhoneBook.Web.Models

@model TelephoneBookModel

@{
    ViewData["Title"] = "Добавление";
}

<div class="added-contact">
    @using (Html.BeginForm("Add", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.FirstName, new {@class = "input-info", @placeholder = "Имя"})
        @Html.TextBoxFor(model => model.LastName, new {@class = "input-info", @placeholder = "Фамилия"})
        @Html.TextBoxFor(model => model.SurName, new {@class = "input-info", @placeholder = "Отчество"})
        @Html.TextBoxFor(model => model.NumberPhone, new {@class = "input-info", @placeholder = "Номер телефона"})
        @Html.TextBoxFor(model => model.Address, new {@class = "input-info", @placeholder = "Адресс"})
        <input type="submit" class="btn"/>
    }
</div>