@model List<TelephoneBook>
@using PhoneBook.Domain.Entity

@{
    ViewData["Title"] = "Контакты";
}

<div>
<p>Всего контактов: @Model.Count</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Номер телефона</th>
        <th>Адресс</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID </td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.NumberPhone</td>
                <td>@item.Address</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
</div>
